<div class="container flex-grow-1 flex-shrink-1">
    <form [formGroup]="createBillForm" (ngSubmit)="onCreateBillFormHandler()" class="create-bill">
        <h1 class="mb-4">Rechnung erstellen</h1>
        <mat-divider></mat-divider>

        <mat-form-field class="w-100">
            <mat-label>Kunde</mat-label>
            <mat-select (valueChange)="onNewCustomerChoosenHandler($event)" [formControl]="customerFormControl">
                <mat-option *ngFor="let customer of customers" [value]="customer">
                    {{ customer.lastname + ', ' + customer.firstname + ' | ' + customer.city }}
                </mat-option>
            </mat-select>
            <mat-error>{{ getErrorMessageCustomerFormControl() }}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Betrag (€) pro Monat</mat-label>
            <input matInput formControlName="pricePerMonthFormControl" />
            <mat-error>{{ getErrorMessagePricePerMonthFormControl() }}</mat-error>
        </mat-form-field>

        <mat-divider></mat-divider>

        <mat-form-field class="w-100">
            <mat-label *ngIf="customerFormControl.pristine">Wähle zuerst einen Kunden aus.</mat-label> 
            <mat-label *ngIf="!customerFormControl.pristine && availableCars.length > 0">Auto hinzufügen</mat-label>   
            <mat-label *ngIf="!customerFormControl.pristine && availableCars.length === 0">Keine weiteren Autos verfügbar</mat-label>   

            <mat-select (valueChange)="onNewCarChoosenHandler($event)" [formControl]="carFormControl">
                <mat-option *ngFor="let car of availableCars" [value]="car">
                    {{ car.make + ' ' + car.model + ' ' + ' | ' + car.license }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card *ngFor="let billedCar of billedCars" class="mb-3">
                <mat-card-header class="mb-3">
                    <mat-card-title-group>
                        <mat-card-title>Auto:</mat-card-title>
                        <mat-card-subtitle>{{ billedCar.car.make + ' ' + billedCar.car.model + ' ' + ' | ' + billedCar.car.license }}</mat-card-subtitle>
                        <img *ngIf="billedCar.car.photo" mat-card-md-image [src]="getPhotoSrc(billedCar.car.photo)" >
                      </mat-card-title-group>
                </mat-card-header>

                <mat-divider></mat-divider>

                <mat-card-content class="px-3 mt-2 mb-2" >
                    <h5>Eingelagert bis:</h5>
                    <mat-form-field class="mt-2">
                        <mat-label>Eingelagert bis</mat-label>
                        <input matInput (dateChange)="onEndDateChangedHandler($event, billedCar)" [value]="todayDate" [matDatepicker]="picker">
                        <mat-hint>MM/TT/JJJJ</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-card-content>

                <mat-divider></mat-divider>
                
                <mat-card-actions>
                    <button mat-raised-button (click)="onCarFromBillDeletedHandler(billedCar)">Auto von Rechnung entfernen</button>
                </mat-card-actions>
        </mat-card>

        <mat-divider></mat-divider>

        <embed *ngIf="fileUrl" [src]="fileUrl" style="width:100%;height: 600px;"/>

        <div class="col d-flex justify-content-between mt-2 w-100">
            <button mat-raised-button class="w-40" color="secondary" type="button" [routerLink]="'/'">Abbrechen</button>
            <button mat-raised-button class="w-40" color="primary" [disabled]="!this.createBillForm.valid" type="submit">Weiter</button>
        </div>
    </form>
</div>