<div class="container flex-grow-1 flex-shrink-1">
    <form [formGroup]="createBillForm" (ngSubmit)="onCreateBillFormHandler()" class="create-bill">
        <h1 class="mb-4">Rechnung erstellen</h1>

        <mat-form-field class="w-100">
            <mat-label>Kunde</mat-label>
            <mat-select [formControl]="customerFormControl">
                <mat-option *ngFor="let customer of customers" [value]="customer">
                    {{customer.lastname + ', ' + customer.firstname + ' | ' + customer.city}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="w-100">
            <mat-label>Betrag (€) pro Monat</mat-label>
            <input matInput formControlName="paymentAmountFormControl" />
        </mat-form-field>

        <mat-card class="mb-3">
            <mat-card-header>
                <h5>Eingelagert bis:</h5>
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-between">
                <p>{{ todayDate.getDay() + '.' + todayDate.getMonth() + '.' + todayDate.getFullYear() + ' (Heute)'}}</p>
            </mat-card-content>
            <mat-card-footer class="px-3 mt-3 mb-2">
                <h5>Datum ändern:</h5>
                <mat-form-field class="mt-2">
                    <mat-label>Eingelagert bis</mat-label>
                    <input matInput formControlName="dateFormControl" [matDatepicker]="picker">
                    <mat-hint>MM/TT/JJJJ</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </mat-card-footer>
        </mat-card>


        <div class="col d-flex justify-content-between mt-2 w-100">
            <button mat-raised-button class="w-40" color="secondary" type="button" [routerLink]="'/'">Abbrechen</button>
            <button mat-raised-button class="w-40" color="primary" type="submit">Weiter</button>
        </div>
    </form>
</div>