<div class="container flex-grow-1 flex-shrink-1">
    <form [formGroup]="addCarForm" (ngSubmit)="onAddCarFormHandler()" class="add-car">
        <h1 class="mb-4">Auto hinzufügen</h1>

        <mat-form-field class="w-100">
            <mat-label>Kunde</mat-label>
            <mat-select [formControl]="customerFormControl">
              <mat-option *ngFor="let customer of customers" [value]="customer.lastname + ', ' + customer.surname + ' | ' + customer.city">
                {{customer.lastname + ', ' + customer.surname + ' | ' + customer.city}}
            </mat-option>
            </mat-select>
          </mat-form-field>

        <div class="row">
            <mat-form-field class="col">
                <mat-label>Marke</mat-label>
                <input matInput formControlName="makeFormControl" />
            </mat-form-field>

            <mat-form-field class="col">
                <mat-label>Typ</mat-label>
                <input matInput formControlName="modelFormControl" />
            </mat-form-field>

            <mat-form-field class="col">
                <mat-label>Jahr</mat-label>
                <input matInput formControlName="yearFormControl" />
            </mat-form-field>
        </div>

        <mat-form-field class="w-100">
            <mat-label>Kennzeichen</mat-label>
            <input matInput formControlName="licenseFormControl" />
        </mat-form-field>

        <mat-card class="mb-3">
            <mat-card-header>Bild hochladen</mat-card-header>
            <mat-card-content>
                <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
            </mat-card-content>
            <img *ngIf="fileUploaded" mat-card-image [src]="getImage()" alt="Hochgeladenes Bild">
        </mat-card>

        <mat-form-field class="mt-2">
            <mat-label>Eingelagert seit</mat-label>
            <input matInput formControlName="dateFormControl" [matDatepicker]="picker">
            <mat-hint>MM/TT/JJJJ</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="col d-flex justify-content-end mt-2 w-100">
            <button mat-raised-button class="w-35" color="primary" type="submit">Hinzufügen</button>
        </div>

        <div class="col d-flex justify-content-end mt-2 w-100">
            <button mat-raised-button class="w-35" color="secondary" type="button" [routerLink]="'/'">Abbrechen</button>
        </div>
    </form>
</div>